In [2]:
import sys
import os
sys.path.append(os.path.abspath(".."))

In [6]:
from src.preprocessing import load_raw_data

df = load_raw_data("station_day.csv")
df.head()

/workspaces/urban-air-quality-index-predictor/src/preprocessing.py:23: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[features] = df[features].interpolate(method='linear', limit_direction='both').fillna(method='bfill').fillna(method='ffill')

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
20277,NaN,1420070400000000000,200.96,607.980,17.06,12.39,24.73,42.980000,21.82,8.910000,143.840,9.19,14.160,9.840,364.0,NaN
11906,NaN,1420070400000000000,425.49,607.980,49.37,40.91,90.29,44.840000,0.69,7.850000,143.840,9.19,14.160,9.840,579.0,NaN
20278,NaN,1420156800000000000,251.12,438.765,26.02,17.12,31.50,46.700000,13.29,6.790000,110.915,6.60,10.175,7.065,410.0,NaN
11907,NaN,1420156800000000000,172.13,269.550,22.97,40.98,63.94,44.543333,1.35,6.293333,77.990,4.01,6.190,4.290,497.0,NaN
11908,NaN,1420243200000000000,84.42,131.900,10.17,40.89,51.06,42.386667,1.54,5.796667,57.480,1.86,2.870,1.990,141.0,NaN